@import "../common"
._action-sheet
    display: none
    &.show
        display: block
    .action
        &-wrap
            position: fixed
            top: 0px
            left: 0px
            right: 0px
            bottom: 0px
            background-color: rgba(0,0,0,0.75)
            overflow: hidden
            z-index: 10000
        &-sheet
            @include auto_center
            position: fixed
            z-index: 10001
            width: 300px
            font-size: 1.4rem
            color: #4c4c4c
            &-title
                padding: 8px
                background-color: #FFFFFF
            &-item
                overflow: hidden
                padding: 8px
                background-color: #FFFFFF
                border-bottom: 1px solid #e7e7e7
                &-group
                    margin-top: 5px
                &:before
                    margin-right: 5px
